@page "/paciente"
@using CareMod.Shared
@using CareMod.Client.Services
@inject ISeleccionarDatosServicio SeleccionarDatosServicio
@inject IEditarDatosServicio EditarDatosServicio
@inject IInsertarDatosServicio InsertarDatosServicio
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Administrador")]


<!-- Botón para abrir el modal -->
<button type="button" class="btn btn-primary" @onclick="OpenModal">
    Nuevo Paciente
</button>

<!-- Modal -->
<div class="modal fade @modalClass" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:@(modalVisible ? "block" : "none");">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Ingresar Datos del Paciente</h5>
                <button type="button" class="close" aria-label="Close" @onclick="CloseModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@nuevoPaciente" OnValidSubmit="InsertarPaciente">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <!-- Campos del formulario -->
                    <div class="form-group">
                        <label>Documento del Paciente: <span style="color: red;">(*)</span> </label>
                        <InputText @bind-Value="nuevoPaciente.documento_paciente" class="form-control" id="documentoPaciente" />
                        <ValidationMessage For="@(() => nuevoPaciente.documento_paciente)" />
                    </div>
                    <div class="form-group">
                        <label>Tipo de Documento:<span style="color: red;">(*)</span> </label>
                        <InputSelect @bind-Value="nuevoPaciente.tipo_documento" class="form-control" id="tipoDocumento">
                            <option value="CC">CC</option>
                            <option value="TI">TI</option>
                            <option value="RC">RC</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => nuevoPaciente.tipo_documento)" />
                    </div>
                    <div class="form-group">
                        <label for="primerNombre">Primer Nombre <span style="color: red;">(*)</span></label>
                        <InputText @bind-Value="nuevoPaciente.primer_nombre" class="form-control" id="primerNombre" />
                        <ValidationMessage For="@(() => nuevoPaciente.primer_nombre)" />
                    </div>
                    <div class="form-group">
                        <label for="segundoNombre">Segundo Nombre</label>
                        <InputText @bind-Value="nuevoPaciente.segundo_nombre" class="form-control" id="segundoNombre" />
                        <ValidationMessage For="@(() => nuevoPaciente.segundo_nombre)" />
                    </div>
                    <div class="form-group">
                        <label for="primerApellido">Primer Apellido <span style="color: red;">(*)</span></label>
                        <InputText @bind-Value="nuevoPaciente.primer_apellido" class="form-control" id="primerApellido" />
                        <ValidationMessage For="@(() => nuevoPaciente.primer_apellido)" />
                    </div>
                    <div class="form-group">
                        <label for="segundoApellido">Segundo Apellido</label>
                        <InputText @bind-Value="nuevoPaciente.segundo_apellido" class="form-control" id="segundoApellido" />
                        <ValidationMessage For="@(() => nuevoPaciente.segundo_apellido)" />
                    </div>
                    <div class="form-group">
                        <label for="fechaNacimiento">Fecha de Nacimiento <span style="color: red;">(*)</span></label>
                        <InputDate @bind-Value="nuevoPaciente.fecha_de_nacimiento" class="form-control" id="fechaNacimiento" min="1901-01-01" />
                        <ValidationMessage For="@(() => nuevoPaciente.fecha_de_nacimiento)" />
                    </div>
                    <div class="form-group">
                        <label for="rh">RH <span style="color: red;">(*)</span></label>
                        @*<InputText @bind-Value="nuevoPaciente.RH" class="form-control" id="rh" />
                        <ValidationMessage For="@(() => nuevoPaciente.RH)" />*@
                        <InputSelect @bind-Value="nuevoPaciente.RH" class="form-control" id="rh">
                            <option value=A+>A+</option>
                            <option value=A->A-</option>
                            <option value=B+>B+</option>
                            <option value=B->B-</option>
                            <option value=AB+>AB+</option>
                            <option value=AB->AB-</option>
                            <option value=O+>O+</option>
                            <option value=O->O-</option>
                        </InputSelect>

                    </div>
                    <div class="form-group">
                        <label for="eps">EPS <span style="color: red;">(*)</span></label>
                        @*<InputNumber @bind-Value="nuevoPaciente.eps" class="form-control" id="eps" />
                        <ValidationMessage For="@(() => nuevoPaciente.eps)" />*@

                        <InputSelect @bind-Value="nuevoPaciente.eps" class="form-control" id="eps">
                            <option value=1>Sura</option>
                            <option value=2>Medimax</option>
                            <option value=3>Anaswayuu</option>
                            <option value=4->Asociación Indígena del Cauca</option>
                            <option value=5>Eps Sanitas</option>
                            <option value=6>Salud Total S.A.  E.P.S.</option>
                        </InputSelect>

                    </div>
                    <div class="form-group">
                        <label for="tipoUsuario">Tipo de Usuario <span style="color: red;">(*)</span></label>
                       @*<InputText @bind-Value="nuevoPaciente.tipo_de_usuario" class="form-control" id="tipoUsuario" />
                        <ValidationMessage For="@(() => nuevoPaciente.tipo_de_usuario)" />*@

                        <InputSelect @bind-Value="nuevoPaciente.tipo_de_usuario" class="form-control" id="tipoUsuario">
                            <option value=Contributivo>Contributivo</option>
                            <option value=Subcidiado>Subcidiado</option>
                            <option value=Particular>Particular</option>
                        </InputSelect>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección de Residencia <span style="color: red;">(*)</span></label>
                        <InputText @bind-Value="nuevoPaciente.residencia" class="form-control" id="direccion" />
                        <ValidationMessage For="@(() => nuevoPaciente.residencia)" />
                    </div>
                    <div class="form-group">
                        <label for="religion">Religión <span style="color: red;">(*)</span></label>
                       @*<InputNumber @bind-Value="nuevoPaciente.religion" class="form-control" id="religion" />
                        <ValidationMessage For="@(() => nuevoPaciente.religion)" />
                        *@
                        <InputSelect @bind-Value="nuevoPaciente.religion" class="form-control" id="religion">
                            <option value=1>Testigo de jeova</option>
                            <option value=2>Catolico</option>
                            <option value=3>Adventista</option>
                            <option value=4->Budista</option>
                            <option value=5>Rasta</option>
                            <option value=6>Indiferente</option>

                        </InputSelect>

                    </div>
                    <div class="form-group">
                        <label for="documentoAcompanante">Documento del Acompañante <span style="color: red;">(*)</span></label>
                        <InputText @bind-Value="nuevoPaciente.id_acompanniante" class="form-control" id="documentoAcompanante" />
                        <ValidationMessage For="@(() => nuevoPaciente.id_acompanniante)" />
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado <span style="color: red;">(*)</span></label>
                        <InputSelect @bind-Value="nuevoPaciente.estatus_ac_noac" class="form-control" id="estado">
                            <option value=true>Activo</option>
                            <option value=false>No Activo</option>
                        </InputSelect>

                        <input type="hidden" @bind-value="nuevoPaciente.fecha_creacion" />
                        <input type="hidden" @bind-value="nuevoPaciente.fecha_edicion" />


                    </div>
                    <div class="form-group">                                             
                        <label for="alertas">Alertas del Paciente</label>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" @bind="nuevoPaciente.amarillo" />
                            <label class="form-check-label" for="alertaAmarillo">Amarillo <span style="color: red;">(*)</span> </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" @bind="nuevoPaciente.rojo" />
                            <label class="form-check-label" for="alertaRojo">Rojo</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" @bind="nuevoPaciente.ciam" />
                            <label class="form-check-label" for="alertaCian">Cian</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" @bind="nuevoPaciente.morado" />
                            <label class="form-check-label" for="alertaMorado">Morado</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" @bind="nuevoPaciente.verde" />
                            <label class="form-check-label" for="alertaVerde">Verde</label>
                        </div> 

                    </div>
                </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="CloseModal">Cerrar</button>
                <button type="submit" class="btn btn-primary" @onclick="InsertarPaciente">Guardar</button>
            </div>
        </div>
    </div>
</div>
 


@if (pacientes != null && pacientes.Any())
{
    <h4>pacientes</h4>
   
    <table class="table">
        <thead>
            <tr>
                <th>Documento</th>
                <th>Tipo de documento</th>
                <th>Nombre Completo</th>
                <th>Fecha de nacimiento</th>
                <th>RH</th>
                <th>EPS</th>
                <th>Tipo de Usuario</th>
                <th>Direccion de Recidencia</th>
                <th>Religion</th>
                <th>Estatus</th>
                <th>Creacion</th>
                <th>Ultima Edicion</th>
                <!--<th>Alertas</th>-->


            </tr>
        </thead>
        <tbody>
            @foreach (var paciente in pacientes)
            {
                <tr>
                    <td>@paciente.documento_paciente</td>
                    <td>@paciente.tipo_documento</td>
                    <td>@paciente.primer_nombre  @paciente.segundo_nombre  @paciente.primer_apellido  @paciente.segundo_apellido </td>
                    <td>@paciente.fecha_de_nacimiento</td>
                    <td>@paciente.RH</td> 
                    <td>
                        @{
                            string epsNombre = "";
                            if (paciente.eps == 1) { epsNombre = "Sura";}
                            else if (paciente.eps == 2){ epsNombre = "Medimax"; }
                        } @epsNombre
                    </td>

                    <td>@paciente.tipo_de_usuario </td>
                    <td>@paciente.residencia </td>

                    <td>
                        @{
                            string religionNombre = "";
                            if (paciente.religion == 1) {religionNombre = "Testigo de Jeova";}
                            else if (paciente.religion == 2) { religionNombre = "Catolico"; }
                        }      @religionNombre
                    </td>

                    <td>
                        @{
                            string estatus = "";
                            if(paciente.estatus_ac_noac == true){ estatus = "Activo"; }
                            else if(paciente.estatus_ac_noac == false){estatus = "Inactivo"; }
                            @estatus
                        } 
                    </td>
                    <td>@paciente.fecha_creacion </td>
                    <td>@paciente.fecha_edicion </td>
                    @*<td>@paciente.id_alerta </td>*@
                    <td>
                         <button  @onclick= "() => EditarPaciente(paciente)" class="btn btn-primary" >Editar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay Usuarios registrados.</p>
}

@if (!string.IsNullOrEmpty(mensaje))
{
    <div class="alert alert-@tipoMensaje" role="alert">
        @mensaje
    </div>
}

@code {

    private List<Pacientes> pacientes;
    private Pacientes nuevoPaciente = new Pacientes();
    private string mensaje;
    private string tipoMensaje;
    private bool esEdicion;
    private bool modalVisible = false;
    private string modalClass = "";


    // Llamar al método de llenado del grid en el ciclo de vida de la página
    protected override async Task OnInitializedAsync()
    {
        await CargarPacientes(); // Método para cargar las personas desde el servicio
    }
    private async Task CargarPacientes()
    {
        try
        {
            var result = await SeleccionarDatosServicio.GetAllPacientes();
            pacientes = result.ToList();
            Console.WriteLine(pacientes);
            LimpiarFormulario();
        }
        catch (Exception ex)
        {
            // Manejar otros errores aquí
            Console.WriteLine($"Juan Este es Error al insertar el paciente: {ex.Message}");
            mensaje = "Error al traer los pacientes registrados.";
            tipoMensaje = "error";
        }
    }

    private async Task EditarPaciente(Pacientes pacientes)
    {
        try
        {
            esEdicion = true;
            nuevoPaciente = pacientes;
            OpenModal();

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al editar el Paciente: {ex.Message}");
            mensaje = "Error al editar el Paciente";
            tipoMensaje = "error";

        }

    }


    private async Task InsertarPaciente()
    {
        try
        {
            if (esEdicion)
            {
                await EditarDatosServicio.EditarPaciente(nuevoPaciente);
                LimpiarFormulario();
                mensaje = "Paciente insertado correctamente";
                tipoMensaje = "success";
                CloseModal();
                esEdicion = false;
            }
            else
            {
                await InsertarDatosServicio.InsertarPaciente(nuevoPaciente);
                LimpiarFormulario();
                Console.WriteLine(nuevoPaciente);
                CloseModal();
                mensaje = "Persona insertada correctamente";
                tipoMensaje = "success";

            }


        }
        catch (Exception ex)
        {
            Console.WriteLine($"PArece que hay un Error Al insertar el Paciente: {ex.Message}");
            mensaje = "Error al insertar la persona";
            tipoMensaje = "error";
        }

    }
   private void OpenModal()
    {
        modalVisible = true;
        modalClass = "show";
        StateHasChanged();
    }
    private void CloseModal()
    {
        modalVisible = false;
        modalClass = "";
        StateHasChanged();
    }

    private void LimpiarFormulario()
    {
        nuevoPaciente = new Pacientes();
    }
}
